.rubros{
    color: blue;
}
h1{
    padding-top: 15px;
    text-align: center;
    color:white;
}

p{
    text-align: justify;
}

#encabezado{
    border: solid 1px;
    border-radius: 5px;
    background-color:black;
}