 th
/* Todas las celdas de la tabla... */

    {
     color: white;
    font-size: 14px;
   }
td
/* Todas las celdas de la tabla... */
    {  
    /* tendrá un borde de 1 px */
    font-size: 14px;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th 
{
    background-color: #FF5722 ;
  }

 
  tr {
    width: 99%;
    display: inline-table;
    table-layout: fixed;
    }
    
    table{
             
     display: -moz-groupbox;   
    }
    tbody{
      overflow-y: scroll;      
      height: 370px;            
      width: 99%;
      position: absolute;
    }
  
  
    

body {
    background-image: url("../Imagenes/skulls.png");
    color:black !important;
    font-weight: bold;
}

h3 {
    color: white;
 padding-right: 15px;
    font-weight: bold ;
}

.nav-item{
    padding-right: 10px;
}

h1, h2,h4,h5 {
    color: #FF5722 !important;
    font-weight: bold ;
}

.titulo {
color:blue;

}
.thead-dark{
    /* redondeo esquinas de barra de navegacion */
    border-radius: 5px !important; 
}
.navbar {
    /* redondeo esquinas de barra de navegacion */
    border-radius: 5px;
}

.navbar-r:link, .navbar-r:visited {
    color: white !important;
}
.navbar-r:hover, .navbar-r:active {
    color: #FF5722 !important;
}